<div id="default-carousel"
     class="relative left-1/2 transform -translate-x-1/2 max-w-screen-2xl"
     data-carousel="slide">
  <div class="relative h-56 overflow-hidden rounded-b-lg md:h-[30rem]">
    <!-- Wine 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/Images/winery_1.jpg"
           class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <!-- Wine 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/Images/winery_2.jpg"
           class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
           alt="...">
    </div>
    <!-- Wine 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/Images/winery_3.jpg"
           class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
           alt="...">
    </div>
    <!-- Wine 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/Images/winery_4.jpg"
           class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/Images/winery_5.jpg"
           class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
  </div>
</div>
