<div
  class="fixed top-0 z-20 m-0 p-0 overflow-hidden w-full bg-black bg-opacity-80 flex font-playfair justify-center font-semibold text-sm shadow-2xl"
  [ngClass]="{'bg-opacity-80': isMainPage, 'sticky': !isMainPage}"
>
  <nav
    class="flex flex-row flex-nowrap flex-1 max-w-screen-2xl h-auto text-light
    px-12 py-4 items-center justify-between">
    <h1 class="w-3/12 justify-start text-3xl" routerLink="/">
      FineWine
    </h1>
    <ul class="flex flex-row flex-nowrap text-center justify-center space-x-12 w-6/12">
      <button class="relative group px-1" data-modal-target="defaultModal" data-modal-toggle="defaultModal">
        <span>RECOMMEND</span>
        <span
          class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
        <span
          class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
      </button>
      <a class="relative group px-1" routerLink="/find-wine">
        <span>FIND</span>
        <span
          class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
        <span
          class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
      </a>
      <a class="relative group px-1" href="#">
        <span>LEARN MORE</span>
        <span
          class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
        <span
          class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
      </a>
    </ul>
    <div class="flex w-3/12 justify-end">
      <div *ngIf="false; else isLoggedIn" class="flex flex-row space-x-12">
        <button class="relative group px-1">
          <span>LOGIN</span>
          <span
            class="absolute bottom-1 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
          <span
            class="absolute bottom-1 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
        </button>
        <button class="bg-main py-3 px-4">
          SIGN IN
        </button>
      </div>
      <ng-template #isLoggedIn>
        <div class="flex flex-row space-x-12">
          <button class="relative group flex flex-row items-center">
            <heart-solid-icon class="pr-1 scale-75"></heart-solid-icon>
            <span>
              WISHLIST
            </span>
            <span
              class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
            <span
              class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
          </button>
          <button class="relative group flex flex-row items-center">
            <user-circle-solid-icon class="pr-1 scale-75"></user-circle-solid-icon>
            <span>
              ACCOUNT
            </span>
            <span
              class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
            <span
              class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
          </button>
        </div>
      </ng-template>
    </div>
  </nav>
</div>

<!-- Recommend Modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex flex-row w-full items-center justify-between p-4 rounded-t dark:border-gray-600">
        <div class="w-1/6">
          <button type="button"
                  class="text-white text-sm text-left bg-main hover:scale-90 hover:shadow-2xl transition duration-75 rounded-2xl text-sm w-7 h-7 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                  data-modal-hide="defaultModal">
            <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <h3 class="text-xl font-playfair text-center font-semibold text-dark-bg w-4/6">
          FIND YOURSELF A WINE
        </h3>
        <div class="w-1/6 flex justify-end">
          <h6
            class="w-min text-sm font-cormorant font-extralight p-1 px-3 rounded-2xl bg-main text-light-bg hover:scale-90 hover:shadow-2xl transition duration-75">
            APPLY
          </h6>
        </div>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <span></span>
        <h3 class="font-playfair text-sm font-semibold">Wine Types</h3>
        <span></span>
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          With less than a month to go before the European Union enacts new consumer privacy laws for its citizens,
          companies around the world are updating their terms of service agreements to comply.
        </p>
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to
          ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as
          possible of high-risk data breaches that could personally affect them.
        </p>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="defaultModal" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          I accept
        </button>
        <button data-modal-hide="defaultModal" type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
          Decline
        </button>
      </div>
    </div>
  </div>
</div>
