<div
  class="fixed top-0 z-10 m-0 p-0 overflow-hidden w-full bg-black bg-opacity-80 flex font-playfair justify-center font-semibold text-sm shadow-2xl"
  [ngClass]="{'bg-opacity-80': isMainPage, 'sticky': !isMainPage}"
>
  <nav
    class="flex flex-row flex-nowrap flex-1 max-w-screen-2xl h-auto text-light
    px-12 py-4 items-center justify-between">
    <h1 class="w-3/12 justify-start text-3xl" routerLink="/">
      FineWine
    </h1>
    <ul class="flex flex-row flex-nowrap text-center justify-center space-x-12 w-6/12">
      <a class="relative group px-1" href="#">
        <span>RECOMMEND</span>
        <span
          class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
        <span
          class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
      </a>
      <a class="relative group px-1" routerLink="/find-wine">
        <span>FIND</span>
        <span
          class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
        <span
          class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
      </a>
      <a class="relative group px-1" href="#">
        <span>LEARN MORE</span>
        <span
          class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
        <span
          class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
      </a>
    </ul>
    <div class="flex w-3/12 justify-end">
      <div *ngIf="false; else isLoggedIn" class="flex flex-row space-x-12">
        <button class="relative group px-1">
          <span>LOGIN</span>
          <span
            class="absolute bottom-1 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
          <span
            class="absolute bottom-1 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
        </button>
        <button class="bg-main py-3 px-4">
          SIGN IN
        </button>
      </div>
      <ng-template #isLoggedIn>
        <div class="flex flex-row space-x-12">
          <button class="relative group flex flex-row items-center">
            <heart-solid-icon class="pr-1 scale-75"></heart-solid-icon>
            <span>
              WISHLIST
            </span>
            <span
              class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
            <span
              class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
          </button>
          <button class="relative group flex flex-row items-center">
            <user-circle-solid-icon class="pr-1 scale-75"></user-circle-solid-icon>
            <span>
              ACCOUNT
            </span>
            <span
              class="absolute -bottom-2 left-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-r-xl"></span>
            <span
              class="absolute -bottom-2 right-1/2 w-0 h-1 bg-main group-hover:w-1/2 group-hover:transition-all rounded-l-xl"></span>
          </button>
        </div>
      </ng-template>
    </div>
  </nav>
</div>
