<div class="relative h-56 md:h-[30rem]">
  <app-wine-carousel></app-wine-carousel>
</div>
<div
  class="bg-main shadow-xl">
  <div class="flex md:flew-cols flex-row flex-wrap items-center justify-center h-32 px-24 py-7 m-auto max-w-screen-2xl">
    <div
      class="w-1/3 h-full flex flex-row justify-center items-center text-light space-x-5 border-solid border-light border-l-2 border-r-2">
      <img src="./assets/Icons/corkscrew.png" alt="corkscrew"/>
      <div>
        <h2 class="font-bold text-xl font-playfair">BECOME A WINE EXPERT</h2>
        <p class="font-cormorant text-xl font-semibold">Study and become sommelier</p>
      </div>
    </div>
    <div class="w-1/3 h-full flex flex-row justify-center items-center text-light space-x-5">
      <heart-solid-icon class="text-light"></heart-solid-icon>
      <div>
        <h2 class="font-bold text-xl font-playfair">FIGURE OUT WHAT YOU LIKE</h2>
        <p class="font-cormorant text-xl font-semibold">Try out our recommending tool</p>
      </div>
    </div>
    <div
      class="w-1/3 h-full flex flex-row justify-center items-center text-light space-x-5 border-solid border-light-bg border-l-2 border-r-2">
      <book-open-solid-icon></book-open-solid-icon>
      <div>
        <h2 class="font-bold text-xl font-playfair">DRINK AND LEARN</h2>
        <p class="font-cormorant text-xl font-semibold">There are thousands of wines waiting</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-light-bg shadow-xl">
  <div
    class="flex flex-row justify-between max-w-screen-2xl m-auto px-24 py-24">
    <div class="w-2/3 space-y-4">
      <h1 class="text-3xl text-dark font-bold font-playfair drop-shadow-lg">WHAT IS IT ABOUT?</h1>
      <div class="w-1/12 h-1 bg-main"></div>
      <p class="text-dark text-left font-cormorant text-xl font-semibold">Lorem ipsum dolor sit amet, consectetur
        adipiscin elit, sed
        do eiusmod
        tempor
        incididunt ut
        labore et dolore magna aliqua. Sed turpis tincidunt id aliquet risus feugiat. Enim blandit volutpat maecenas
        volutpat blandit aliquam etiam erat. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Ut
        tortor pretium viverra suspendisse potenti nullam ac tortor. Nulla aliquet enim tortor at auctor urna nunc. Ac
        turpis egestas sed tempus urna et pharetra pharetra. Habitasse platea dictumst quisque sagittis purus.
        Consectetur
        adipiscing elit pellentesque habitant morbi tristique senectus et netus. Tortor aliquam nulla facilisi cras
        fermentum. Eget nulla facilisi etiam dignissim diam quis enim. Tincidunt praesent semper feugiat nibh sed
        pulvinar.
        Et tortor consequat id porta nibh.</p>
    </div>
    <div class="w-1/3 flex justify-end">
      <img src="./assets/Images/wine_on_table.jpg"
           class="object-cover w-72 h-72 rounded-full	shadow-2xl"
           alt="..."/>
    </div>
  </div>
</div>
<div class="bg-light-bg w-full">
  <div class="max-w-screen-2xl flex flex-row px-24 justify-center items-center m-auto">
    <span class="h-1 bg-main w-1/5"></span>
    <h1 class="w-3/5 text-2xl text-dark text-center font-bold font-playfair drop-shadow-lg">THESE ARE OUR
      RECOMMENDATIONS
      FOR THIS
      WEEK</h1>
    <span class="h-1 bg-main w-1/5"></span>
  </div>
</div>
<div class="bg-light-bg pb-24 pt-16">
  <div class="m-auto max-w-screen-2xl px-24 flex flex-row justify-between space-x-6 items-center">
    <div *ngFor="let wine of bestRandomWines; let i = index"
         class="w-1/4 pt-3 shadow-md rounded-xl h-[35rem] bg-light text-light-bg flex flex-col justify-between relative">
      <heart-outline-icon class="absolute text-black top-3 right-3"
                          (click)="addToFavourites(wine)"></heart-outline-icon>
      <img [src]="'./assets/Images/' + wine.wineColor + '_bottle.png'" alt="..."
           class="h-3/6 object-contain m-3"/>
      <div
        class="text-[16px] h-4/6 w-full flex flex-col justify-between rounded-b-2xl text-light-bg px-3 py-5 bg-main">
        <h1
          class="text-2xl w-full text-center font-semibold text-light-bg font-playfair h-2/6">{{ wine.winery }}</h1>
        <div class="flex flex-row h-4/6">
          <div class="w-full flex flex-col font-cormorant text-left justify-between">
            <div class="flex flex-row items-center">
              <div class="p-2 mr-1 scale-90 bg-main-dark rounded-lg shadow-2xl">
                <star-solid-icon></star-solid-icon>
              </div>
              <div class="flex flex-col">
                <p class="font-bold">COLOR</p>
                <p
                  class="font-cormorant font-semibold">{{ (wine.wineColor).charAt(0).toUpperCase() + wine.wineColor.slice(1) }}</p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <div class="p-2 mr-1 scale-90 bg-main-dark rounded-lg shadow-2xl">
                <map-solid-icon></map-solid-icon>
              </div>
              <div class="flex flex-col">
                <p class="font-bold">COUNTRY</p>
                <p class="font-cormorant font-semibold">{{ wine.country }}</p>
              </div>
            </div>
          </div>
          <div class="w-full flex flex-col justify-between font-cormorant">
            <div class="w-5/12 flex flex-row items-center">
              <div class="p-2 mr-1 scale-90 bg-main-dark rounded-lg shadow-2xl">
                <img [src]="'./assets/Images/white_grape.svg'" class="w-6 h-6 max-w-none" alt="grape"/>
              </div>
              <div class="flex flex-col">
                <p class="font-bold">VARIETY</p>
                <p class="font-cormorant font-semibold">
                  {{
                  (wine.variety.length > 7)
                    ? (wine.variety | slice: 0:7) + '...'
                    : wine.variety
                  }}
                </p>
              </div>
            </div>
            <div class="w-5/12 flex flex-row items-center">
              <div class="p-2 mr-1 scale-90 bg-main-dark rounded-lg shadow-2xl">
                <star-solid-icon></star-solid-icon>
              </div>
              <div class="flex flex-col">
                <p class="font-bold">POINTS</p>
                <p class="font-cormorant font-semibold">{{ wine.points }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h-[26rem] w-full bg-wineRack bg-cover relative">
  <div class="absolute z-0 top-0 left-0 h-[26rem] w-full bg-black opacity-80"></div>
  <div class="h-full flex flex-col max-w-screen-2xl justify-center items-center m-auto text-light-bg px-24">
    <h1 class="text-3xl z-10 font-semibold font-playfair drop-shadow-lg text-center">LEARN EVERYTHING ABOUT WINE</h1>
    <div class="w-1/4 my-5 z-10 h-1 bg-main"></div>
    <p class="text-center z-10 font-cormorant text-xl font-semibold text-light-bg">Lorem ipsum dolor sit amet,
      consectetur adipiscin
      elit, sed
      do
      eiusmod
      tempor
      incididunt ut
      labore et dolore magna aliqua. Sed turpis tincidunt id aliquet risus feugiat. Enim blandit volutpat maecenas
      volutpat blandit aliquam etiam erat. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Ut
      tortor pretium viverra suspendisse potenti nullam ac tortor. Nulla aliquet enim tortor at auctor urna nunc. Ac
      turpis egestas sed tempus urna et pharetra pharetra. Habitasse platea dictumst quisque sagittis purus.
      Consectetur
      adipiscing elit pellentesque habitant morbi tristique senectus et netus. Tortor aliquam nulla facilisi cras
      fermentum. Eget nulla facilisi etiam dignissim diam quis enim. Tincidunt praesent semper feugiat nibh sed
      pulvinar.
      Et tortor consequat id porta nibh.</p>
  </div>
</div>
