@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwigley&display=swap');

@layer components {
  .cut-corner {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
  }

  .circle {
    clip-path: ellipse(45% 45% at 50% 50%);
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #eae8e8;
    height: 1.5rem;
    border-radius: 9999px;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.9rem;
    height: 1.9em;
    background: #5C001E; /* Set the thumb (dot) color to purple */
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(0.9);
    transition: all 100ms;
    cursor: pointer;
  }

  .error {
    color: #9b0d3c;
  }

  .error-input {
    border: solid 3px #9b0d3c;
    border-radius: 0.25rem;
  }

  .image-cut-shape {
    border-radius: 0.5rem 0 70% 0;
  }
}

input[data-te-select-input-ref], label[data-te-select-label-ref],
div[data-te-input-wrapper-init] input, div[data-te-input-wrapper-init] label {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

div[data-te-select-form-outline-ref] span {
  top: 17px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b0adad;
  /*border-radius: 5px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C001E;
  /*border-radius: 5px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e000f;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
