<div id="default-carousel"
     class="absolute top-0 left-1/2 transform -translate-x-1/2 z-0 w-full max-w-screen-2xl"
     data-carousel="slide">
  <div class="relative h-56 overflow-hidden rounded-b-lg md:h-[30rem]">
    <div
      class="absolute w-full bg-cover bg-center hidden duration-1000 ease-in-out bg-winery1"
      data-carousel-item>
    </div>
    <div
      class="absolute w-full bg-cover bg-center hidden duration-1000 ease-in-out bg-winery2"
      data-carousel-item>
    </div>
    <div
      class="absolute w-full bg-cover bg-center hidden duration-1000 ease-in-out bg-winery3"
      data-carousel-item>
    </div>
    <div
      class="absolute w-full bg-cover bg-center hidden duration-1000 ease-in-out bg-winery4"
      data-carousel-item>
    </div>
    <div
      class="absolute w-full bg-cover bg-center hidden duration-1000 ease-in-out bg-winery5"
      data-carousel-item>
    </div>
  </div>
</div>
